In [10]:
# Secret code
def secret_code(str1):
    sc = lc = uc = space = digit = 0
    for i in str1:
        if i == ' ':
            space += 1
        elif not i.isalnum():
            sc += 1
        elif i.islower():
            lc += 1
        elif i.isupper():
            uc += 1
        elif i.isdigit():
            digit += 1
    print(f"""
          Length of the secret code: {len(str1)}
          No.of space characters: {space}
          No.of special characters: {sc}
          No.of lower case letters: {lc}
          No.of upper case letters: {uc}
          No.of digit characters: {digit}
          """)
    if space == 0 and lc >= 2 and uc >= 2 and sc >= 1 and digit >= 1 and str1[0].isupper() and len(str1) >= 8:
        return True
    return False
str1 = input()
if secret_code(str1):
    print("Valid secret code")
else:
    print("Not a valid secret code")

 Capi T@l3

          Length of the secret code: 9
          No.of space characters: 1
          No.of special characters: 1
          No.of lower case letters: 4
          No.of upper case letters: 2
          No.of digit characters: 1

Not a valid secret code

### Tuple
- A tuple is a collection of different datatypes which is indexed, immutable, and allow duplicate values.
- We can tuple using paraenthesis.

In [14]:
# Tuple
a = ()
print(type(a))
a = (1, 1.1, 'hello', [1, 2, 3], None, True, 0+1j)
print(a)
# To check the methods of the tuple
print(dir(a))
# To print a specific character
print(a[2])
# To print a sequenece of character
print(a[2:])

<class 'tuple'>
(1, 1.1, 'hello', [1, 2, 3], None, True, 1j)
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
hello
('hello', [1, 2, 3], None, True, 1j)

In [15]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
# operators
# Tuple addition or concatenation
print(t1 + t2)
# Tuple multiplication or repetation
print(t1*3)
# Conditional operator
print(t1 == t2)
print(t1 >= t2)
print(t1 <= t2)
# Membership operator
print(1 in t1)
# Identity operator
print(t1 is not t2)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
False
False
True
True
True

### In-built function in tuple
1. len()
2. min()
3. max()
4. sum()
5. sorted()
6. any()
7. all()
8. tuple()

In [16]:
# Built-in function
t1 = 'hello'
t2 = (1, 2, 3, 4)
# len() function
print(len(t2))
# min() function
print(min(t2))

4
1

### Methods in tuple
1. index()
2. count()

In [17]:
# Packing - unpacking
pack = 'hi', 'hello', 'good', 'morning' # packing
print(pack)
n1, n2, n3, n4 = pack # unpacking
print(n1, n2, n3, n4)

('hi', 'hello', 'good', 'morning')
hi hello good morning

### Arbitary variable
- The arbitary variable is a variable that assigns itself with remaining after assigning the values to all other variables.
- We use '*' to define a arbitary variable.

In [22]:
*a, b, c = (1, 1, 1, 1)
print(a, b, c)

[1, 1] 1 1

### Set
- A set is a collection of different datatypes which are unordered, unindexed, and does not allow duplicate values.
- A set elements are enclosed in {}.

In [26]:
# set
s = set() # set creation
s1 = {1} # set with single element
print(type(s1))
s = {0, 0.0, None, False, 0+0j}
print(s)
s1 = {1, 2, 3, 4}
s2 = {5, 6, 7, 8}
# Operator
# Conditional operator
print(s1 > s2)
print(s1 < s2)
# Membership operator
print(1 in s1)
# Identity operator
print(s1 is not s2)

<class 'set'>
{0, None}
False
False
True
True

#### Built-in methods in set
1. len()
2. min()
3. max()
4. sum()
5. sorted()
6. all()
7. any()
8. set()

In [27]:
print(dir(set()))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [28]:
# set
s1 = {1, 2, 3}
s1.add(4)
print(s1)
s1.update({5, 6, 7})
print(s1)
s1.discard(5) # Doesn't generate any error when the defined value is not present in the set
print(s1)
s1.clear() # To remove all elements in the set
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 6, 7}
set()

### Mathematical operations on set
1. union
2. update
3. difference
4. difference_update
5. intersection
6. intersection_update
7. symmetric_difference
8. symmetric_differece_update
9. isdisjoint
10. issubset
11. issuperset

In [36]:
s1 = {1, 2, 3, 4}
s2 = {5, 6, 7, 8}
# 1.union
print(s1.union(s2)) # perform union operation on two sets
# 2. update
s1.update(s2)
print(s1) # add elements of one set to other set
# 3. difference
print(s1.difference(s2)) # perform set difference
# 4. intesection
print(s1.intersection(s2)) # perform set intersection
# 5. intesection_update
s1.intersection_update(s2) # preform intersection and update the values into the first set
print(s1)
# 6. symmetric_difference
print(s1.symmetric_difference(s2)) # perfrom difference and common elements provide
# 7. symmetric_difference_update
s1.symmetric_difference_update(s2) # perform difference and store them in first set
print(s1)
# 8. isdisjoint
print(s1.isdisjoint(s2)) # To check whether both sets doesnt't contain same elements
# 9. issubset
print(s1.issubset(s2)) # To check the set is subset of other set
# 10. issuperset
print(s1.issuperset(s2)) # To check the set is superset of other set

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4}
{8, 5, 6, 7}
{8, 5, 6, 7}
set()
set()
True
True
False

### Dictionary
- Dictionary is used to store key-value pair which are ordered, mutable, and allowes duplicate elements in values.
- We can store elements inside curly brackets in the form key-value.

In [4]:
# Dictionary
d = {} # empty dictionary
print(type(d))
d = {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'} # Creating a dictionary
print(d)
print(d[2]) # Accessing a value through key

<class 'dict'>
{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}
Two

In [5]:
# Operators
# Concatenation operator is not allowed
# repetition operator is not allowed
d1 = {1: 1, 2: 2, 3: 3}
# Membership operator
print(1 in d)
# Identity operator
print(d is not None)
# conditional operator
print(d1 > d)

True
True

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [7]:
print(dir(dict()))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [23]:
d = {1: 'One', 2: 'Two', 3: 'Three'}
d1 = {4: 'Four', 5: 'Five', 6: 'Six'}
print(d.keys()) # To access only keys
print(d.items()) # To access both keys and values
print(d.values()) # To access only values
d.update(d1)
print(d) # To add one dictionary values to other dictionary
d[7] = 'Seven' # Add element to the dictionary if the key doesn't exist, if exist modify the value of the key
print(d)
print(d.pop(1)) # To delete key-value pair from the dictionary based on the key
print(d)
print(d.popitem()) # To delete last added key-value pair from the dictionary 
print(d)
print(d.get(2)) # To get the key-value based on the key from the dictionary
l = [10, 20 , 30]
print(dict.fromkeys(l, 100))

dict_keys([1, 2, 3])
dict_items([(1, 'One'), (2, 'Two'), (3, 'Three')])
dict_values(['One', 'Two', 'Three'])
{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six', 7: 'Seven'}
One
{2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six', 7: 'Seven'}
(7, 'Seven')
{2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
Two
{10: 100, 20: 100, 30: 100}

In [26]:
l = [1, 2, 3, 4]
l1 = [1, 2, 3, 4]
print(dict(zip(l, l1))) # zip function

{1: 1, 2: 2, 3: 3, 4: 4}

In [36]:
# Cricket problem
l = list(map(str, input().split()))
l1 = list(map(int, input().split()))
d = dict(zip(l, l1))
max1 = l1[0]
min1 = l1[0]
for i in d:
    if d[i] > max1:
        max1 = d[i]
    else:
        min1 = d[i]
for k, v in d.items():
    if v == max1:
        print(f"Maximum runs scored {k}:{v}")
    if v == min1:
        print(f"Minimum runs scored {k}:{v}")

 'Dhoni' 'Kohli' 'Rohit' 'Rahul' 'Pandya'
 123 183 264 122 92

Maximum runs scored 'Rohit':264
Minimum runs scored 'Pandya':92

In [47]:
names = ['vinodh', 'vamsi', 'shankar', 'rohith']
print({ i: len(i) for i in names})
print({i: 'even_length' if(len(i)%2 == 0)  else 'odd_length' for i in names if len(i) > 5})

{'vinodh': 6, 'vamsi': 5, 'shankar': 7, 'rohith': 6}
{'vinodh': 'even_length', 'shankar': 'odd_length', 'rohith': 'even_length'}

In [40]:
# create squares of the key
d = {i: i**2 for i in range(1, 11)}
print(d)
d = {i: i**2 for i in range(1, 11) if i%2 == 0}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [49]:
# Write a program for dictionary for each character from the given string
str1 = input()
print({i : str1.count(i) for i in str1 })

 narayana

{'n': 2, 'a': 4, 'r': 1, 'y': 1}

### Collections module

In [51]:
import collections
print(dir(collections))

['ChainMap', 'Counter', 'OrderedDict', 'UserDict', 'UserList', 'UserString', '_Link', '_OrderedDictItemsView', '_OrderedDictKeysView', '_OrderedDictValuesView', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_chain', '_collections_abc', '_count_elements', '_deque_iterator', '_eq', '_iskeyword', '_itemgetter', '_proxy', '_recursive_repr', '_repeat', '_starmap', '_sys', '_tuplegetter', 'abc', 'defaultdict', 'deque', 'namedtuple']

#### Collection methods
1. Counter
2. defaultdict
3. deque
4. namedtuple

In [53]:
# 1. Counter method
from collections import Counter
str1 = 'My name is naseer'
count = Counter(str1)
print(count)

Counter({' ': 3, 'e': 3, 'n': 2, 'a': 2, 's': 2, 'M': 1, 'y': 1, 'm': 1, 'i': 1, 'r': 1})

In [55]:
from collections import Counter
import random
str1 = [random.randrange(1, 8) for i in range(10)]
print(Counter(str1))

Counter({1: 4, 3: 2, 6: 2, 2: 2})

In [58]:
# 2. defaultdict
# defaultdict is subclass & inbuilt class dict
# syntax: var = defaultdict(default_factory)
from collections import defaultdict
d = defaultdict(int)
d['a'] = 1
d['b'] = 2
print( d['a'],'\n', d['b'], '\n', d['c'])

1
 2
 0

In [60]:
from collections import defaultdict
d = defaultdict(lambda : 'no value')
d['cricket'] = ('kohli')
d['badminton'] = ('Sindhu')
print(d['cricket'])
print(d['football'])

kohli
no value

### 3. deque
- deque means double ended queue.
- Generally, queue follows FIFO structure, but in deque it supports LIFO & FIFO.
- Which will accept list as argument.
- syntax:
  - variable = deque(list)

In [61]:
from collections import deque
d = deque([1, 2, 3])
print(d)
d.append(4)
print(d)
d.appendleft(5)
print(d)
d.pop()
print(d)
d.popleft()
print(d)
d.extend([4, 5, 6])
print(d)
d.extendleft([7, 8, 9])
print(d)
d.remove(9)
print(d)
d.reverse()
print(d)
d.rotate(-1)
print(d)

deque([1, 2, 3])
deque([1, 2, 3, 4])
deque([5, 1, 2, 3, 4])
deque([5, 1, 2, 3])
deque([1, 2, 3])
deque([1, 2, 3, 4, 5, 6])
deque([9, 8, 7, 1, 2, 3, 4, 5, 6])
deque([8, 7, 1, 2, 3, 4, 5, 6])
deque([6, 5, 4, 3, 2, 1, 7, 8])
deque([5, 4, 3, 2, 1, 7, 8, 6])

### namedtuple class
- namedtuple is a mini-class.
- We can access using names.
- syntax:
  - var = namedtuple(type_name, field_name)

In [68]:
from collections import namedtuple
std = namedtuple('student', ['name', 'branch', 'marks'])
s1 = std('kiran', '20', '550')
print(s1.name)

kiran

In [ ]:
# Dictionary nesting and data transformation